<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h2><%= @message.conversation.recipient.name %></h2>
<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= user.name %></strong> | <%= message.message_time %></div>
          <div class="list">
              <%= message.body %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div class="message-btn">
    <%= f.submit "メッセージを送る", class: 'btn btn-primary' %>
  </div>

<% end %>
</div>
</div>
