.container
  .wrapper.col-md-8.col-md-offset-2.col-sm-10
    %h2= @message.conversation.recipient.name
    - if @over_ten
      = link_to '以前のメッセージ', '?m=all'
    .ui.segment
      - @messages.each do |message|
        - if message.body
          - user = User.find(message.user_id)
          .item
            .content
              .header
                %strong= user.name
                | #{message.message_time}
              .list
                = message.body
          = form_for [@conversation, @message], html: {class: "ui reply form"} do |f|
            .field
              = f.text_area :body, class: "form-control"
            = f.text_field :user_id, value: current_user.id, type: "hidden"
            .message-btn
              = f.submit "メッセージを送る", class: 'btn btn-primary'
