
<h2 class="page-user-img"><%= profile_img(@user) %></h2>
<h2 class="user-name"><%= @user.name %></h2>
<div class="container col-md-6 col-sm-6 col-xs-6">
<p><%= @user.followed_users.count %>フォロー</p>
<% @user.followed_users.each do |followed| %>
  <p class="followed-img"><%= profile_img(followed) %></p>
  <p><%= link_to followed.name, user_path(followed) %></p>
<% end %>
</div>


<div class="container col-md-6 col-sm-6 col-xs-6">
<p><%= @user.followers.count %>フォロワー</p>
<% @user.followers.each do |follower| %>
  <p class="follower-img"><%= profile_img(follower) %></p>
  <p><%= link_to follower.name, user_path(follower) %></p>
<% end %>
</div>
</div>
